%ul.no-bullet
  %h5.margin-top-25.margin-bottom-20 Categories
  %li=link_to "All" , closet_path(@closet.id) 
  %li= link_to "Dresses" ,closet_path(@closet, type_category: "Dresses")
  %li= link_to "Skirts" , closet_path(@closet, type_category: "Skirts")
  %li= link_to "Pants" , closet_path(@closet, type_category: "Pants")
  %li= link_to "Tops" , closet_path(@closet, type_category: "Tops")
  %li= link_to "Jackets" , closet_path(@closet, type_category: "Jackets")
  %li= link_to "Sweaters" , closet_path(@closet, type_category: "Sweaters")
  %li= link_to "Blazers" , closet_path(@closet, type_category: "Blazers")
  %li= link_to "Jeans" , closet_path(@closet, type_category: "Jeans")
  %li= link_to "Jumpsuits" , closet_path(@closet, type_category: "Jumpsuits")
  %li= link_to "Shorts" , closet_path(@closet, type_category: "Shorts")


  



     