%ul
  %h5= link_to "Dresses" ,closet_path(@closet, type_category: "Dresses")
  %h5= link_to "Skirts" , closet_path(@closet, type_category: "Skirts")
  %h5= link_to "Pants" , closet_path(@closet, type_category: "Pants")
  %h5= link_to "Tops" , closet_path(@closet, type_category: "Tops")
  %h5= link_to "Jackets" , closet_path(@closet, type_category: "Jackets")
  %h5= link_to "Sweaters" , closet_path(@closet, type_category: "Sweaters")
  %h5= link_to "Blazers" , closet_path(@closet, type_category: "Blazers")
  %h5= link_to "Jeans" , closet_path(@closet, type_category: "Jeans")
  %h5= link_to "Jumpsuits" , closet_path(@closet, type_category: "Jumpsuits")
  %h5= link_to "Shorts" , closet_path(@closet, type_category: "Shorts")


  



     