!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Mycloset'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Mycloset'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main.white.light-border-top.pad-left-0.pad-right-0.main-height{:role => "main"}
      = render 'layouts/messages'
      = yield
      / %footer.bg-smoke.light-border-top
      /   = render 'layouts/footer'
      
        
